doctype html
.content-area-item
	div.form-actions
		div.btn-group
			a.btn.btn-sm.btn-primary(ng-click="addSetting()")
				span.glyphicon.glyphicon-plus
				| &nbsp; Add New
			a.btn.btn-sm.btn-primary(ng-click="save()")
				span.glyphicon.glyphicon-save
				| &nbsp; Save All
			a.btn.btn-sm.btn-warning(ng-click="cancel()")
				span.glyphicon.glyphicon-save
				| &nbsp; Cancel
		.clearfix
hr.ut-width-100.content-area-tools-menu-divider
.content-area-item
	form.form.toasty-form-wrapper(name='manageSettings', role="form")
		tabset.toasty-form
			tab(heading="Settings")
				table.table
					thead
						th
						th Name
						th Alias
						th Value
					tbody
						tr(ng-repeat="setting in settings")
							td
								a.btn.btn-link.btn-xs(ng-show="!setting.system", style="color: red", ng-click="deleteSetting($index)")
									span.glyphicon.glyphicon-trash
								a.btn.btn-link.btn-xs.red(ng-show="setting.system")
									span.glyphicon &nbsp;
							td
								input.form-control(type="text", placeholder="Enter name", ng-model="setting.name", ng-disabled="setting.system")
							td
								input.form-control(type="text", placeholder="Enter alias", ng-model="setting.alias", ng-disabled="setting.system")
						
							td
								input.form-control(type="text", placeholder="Enter value", ng-model="setting.value", ng-keypress="aliasManuallyChanged()")
