doctype html
.col-xs-12
	.row.main-actions-area
		.col-xs-6
			div.input-group
				input.form-control(type="text",placeholder="Search for setting")
	.row
		.content-area-wrapper
			.col-xs-12.content-area
				div.ui-settings-body(ui-view="ui-settings-body")