doctype html
script(id="nodes_renderer.html", type="text/ng-template")
	div.tree-node-content-wrapper(ui-tree-handle)
		div.tree-node-content(data-nodrag)
			//- span.tree-node-icon.glyphicon(ng-click="toggle(this)", ng-class="{'glyphicon-file': !node.nodes.length, 'glyphicon-folder-close': node.nodes.length && collapsed, 'glyphicon-folder-open': node.nodes.length && !collapsed}")
			span.tree-node-icon.glyphicon(ng-click="toggle(this)", ng-class="{'glyphicon-stop': !node.nodes.length, 'glyphicon-chevron-right': node.nodes.length && collapsed, 'glyphicon-chevron-down': node.nodes.length && !collapsed}")

			span.item-title
				| &nbsp;&nbsp; {{node.title}}
	ol(ui-tree-nodes, ng-model="node.nodes", ng-class="{hidden: collapsed}")
		li(ng-repeat="node in node.nodes", ui-tree-node, ng-include="'nodes_renderer.html'")

.col-xs-12
	.row.main-actions-area
		.col-xs-6
			div.input-group
				span.input-group-btn
					a.btn.btn-default(type="button", ng-click="refreshTree()")
						span.glyphicon.glyphicon-refresh
					a.btn.btn-default(type="button", ui-sref="management.authenticated.content.add")
						span.glyphicon.glyphicon-plus
				input.form-control(type="text",placeholder="Search for content")
	.row
		.content-area-wrapper
			.col-xs-3.content-menu
				div.tree-view(ui-tree)
					ol(ui-tree-nodes, ng-model="data")
						li(ng-repeat="node in data", ui-tree-node, ng-include="'nodes_renderer.html'")
			.col-xs-9.content-area
				div.ui-content-body(ui-view="ui-content-body")