doctype html
.col-xs-12
	.row.main-actions-area
		.col-xs-6
			div.input-group
				span.input-group-btn
					a.btn.btn-default(type="button", ng-click="refreshTree()")
						span.glyphicon.glyphicon-refresh
					a.btn.btn-default(type="button", ui-sref="management.authenticated.content.add")
						span.glyphicon.glyphicon-plus
				input.form-control(type="text",placeholder="Search for content")
	.row
		.content-area-wrapper
			.col-xs-3.content-menu
				toasty-tree-explorer(data-t-api="content", data-t-select="openNode(node)")

			.col-xs-9.content-area
				div.ui-content-body(ui-view="ui-content-body")