$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower


@import "../bower_components/angular-ui-tree/dist/angular-ui-tree.min.css";
@import "../bower_components/codemirror/lib/codemirror.css";
@import "../bower_components/codemirror/theme/eclipse.css";
@import "../bower_components/codemirror/theme/cobalt.css";

@import "../bowerless_components/whhg/css/whhg.css";

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Space out content a bit */
body {
	// padding-top: 20px;
	// padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}

.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}

	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}

.form-control {
	border-color: #DADADA;
}

@import url(http://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans|Open+Sans+Condensed:300|Open+Sans+Condensed:700);

$sidebar-width: 253px;
$sidebar-font-size: 1.2em;
$sidebar-item-height: 50px;
$sidebar-separator-color: #333;
$navbar-height: 50px;
$tdark: #191818;
$bootstrap-blue: #2a6496;
$light-border-color: #e7e7e7;
$tarea-padding-top: 15px;

body {
	font-family: "Open Sans";
}

.site-wrapper {
	height: 100%;
	width: 100%;
	position: absolute;
	background: #f8f8f8;
}

.navbar-link {
	cursor: pointer;
}
.navbar-link.logout {
	margin-right: 10px;
}

.login-logo {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	img {
		width: 80%;
		max-width: 410px;
	}
}

.login-form {
	border: 1px solid $light-border-color;
	padding: 20px;
	// border-radius: 5px;
	margin-top: 10px;
}

.navigation-wrapper {
	position: fixed;
	top: 10px;
	right: $tarea-padding-top;
	z-index: 3;
}

.body-wrapper {
	// position: fixed;
	// top: 0;
	// bottom: 0;
	// left: $sidebar-width;
	// right: 0;
	// z-index: 2;
	height: 100%;
	width: 100%;
	> .container-fluid {
		padding-left: 0;
	}
}

.sidebar-wrapper {
	// position: fixed;
	// top: 0px;
	// left: 0;
	// bottom: 0;
	background: $tdark;
	color: #999;
	// width: $sidebar-width;
	border-right: 2px solid $sidebar-separator-color;
	overflow: auto;
	// z-index: 1;
	height: 100%;
	width: 100%;
}

.sidebar-menu {

	.sidebar-menu-title {
		// text-align: center;
		.management-logo {
			height: auto;
			width: 100%
		}
		a {
			font-size: ($sidebar-font-size * 1.1);
			padding: 0.5em 0.8em;
			text-decoration: none;
			display: block;
		}
	}

	.sidebar-menu-separator {
		border-color: $sidebar-separator-color;
		margin-top: 0;
		margin-bottom: 0;
	}

	a {
		color: #fff;
		&:hover {
			color: #FFF3E2;
		}
	}

	ul {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			a {
				cursor: pointer;
				padding: 0.6em 1.5em;
				white-space: normal;
				display: block;
				&:hover {
					background: $sidebar-separator-color;
					color: #FFF;
					text-decoration: none;
				}
			}
		}
		> li {
			a {
				// height: $sidebar-item-height;
				// line-height: $sidebar-item-height;
				font-size: $sidebar-font-size;
			}
			

			> ul {
				li {
					a {
						padding: 0.3em 2em;	
						// height: ($sidebar-item-height - 10);
						// line-height: ($sidebar-item-height - 10);

						font-size: ($sidebar-font-size * 0.95);
					}
				}
			}
		}
	}

}

.authenticated {
	height: 100%;
}

.ui-content {
	height: 100%;
}
.section-title {
	font-size: 2em;
	font-family: "Bree Serif";
	font-weight: 700;
	height: $navbar-height;
	line-height: $navbar-height;
}
.content-area {
	border-left: 1px solid $light-border-color;
	padding: 0;
	padding-top: 15px;
}

.content-area-item {
	padding-left: 15px;
	padding-right: 15px;
}

.content-area-tools {
	// border-right: 1px solid $light-border-color;
	padding: 0;
	padding-top: 15px;
}

.content-menu {
	overflow:auto;
	padding: 0;
	// padding-top: $tarea-padding-top;
}

.main-actions-area {
	// height: $navbar-height;
	// border-bottom: 1px solid $light-border-color;
	// padding-top: 7px;
}

.tree-view {
	.tree-view-separator {
		border-color: $sidebar-separator-color;
		margin-top: 0;
		margin-bottom: 0;
	}

	.tree-node-content {
		white-space: nowrap;

		.node-name {
			cursor: pointer;
		}
	}

	.tree-node-content-wrapper {
		color: $tdark;
		&:hover {
			color: #FFF3E2;
		}
	}

	.tree-node-icon {
		cursor: pointer;
	}

	ol {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			.tree-node-content-wrapper {
				cursor: auto;
				padding: 0.6em 1em;
				white-space: normal;
				display: block;
				&:hover {
					background: $bootstrap-blue;
					color: #FFF;
					text-decoration: none;
				}
			}
			.tree-node-content-wrapper.tree-node-active {
				background: $bootstrap-blue;
				color: #FFF;
				text-decoration: none;
			}
		}


		> li {
			.tree-node-content-wrapper {
				// height: $sidebar-item-height;
				// line-height: $sidebar-item-height;
				// font-size: $sidebar-font-size;
				font-weight: normal;
			}
			

			> ol {
				li {
					.tree-node-content-wrapper {
						padding: 0.6em 1em;	
						// height: ($sidebar-item-height - 10);
						// line-height: ($sidebar-item-height - 10);

						// font-size: $sidebar-font-size;
					}
				}
			}
		}
	}

}

.caret.caret-flipped {
	border-top-width: 0;
	border-bottom: 4px solid #000000;
}

.toasty-form {
	margin-top: $tarea-padding-top;
}

.tab-content {
	border: 1px solid #ddd;
	padding: 15px;
	border-top: 0;
	background: #fff;
}

.angular-ui-tree-empty {
	border: none;
	background: none;
}

.form-control .CodeMirror {
	border: 1px solid #eee;
	border-left: none;
}

.file-link {
	a {
		word-wrap: break-word
	}
}

.file-preview {
	max-width: 100%;
	.thumbnail {
		width: 100%;
		height: auto;
	}
}

.ut-padding-0 {
	padding: 0;
}

.ut-height-100 {
	height:100%;
}

.ut-width-100 {
	width: 100%;
}

.content-area-tools {
	padding-left: 0;
}

.application-menu {
	padding: 9px 0 6px;
}

.application-menu-divider {
	margin-bottom: 0;
	margin-top: 14px;
}

.content-area-tools-menu-divider {
	margin-top: 15px;
	margin-bottom: 0px;
}