doctype html
//- This is the root view for the management state
.site-wrapper.ut-height-100
	.row.ut-height-100
		.col-xs-2.ut-height-100.ut-padding-0
			.sidebar-wrapper(ui-view='sidebar')

		.col-xs-10.ut-padding-0.ut-height-100
			.col-xs-12
				.container-fluid
					.application-menu(ng-controller="NavbarCtrl")
						div.dropdown.pull-right
							a.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
								img.pull-left(src="http://www.gravatar.com/avatar/cf74954dfbbb74594d568d1cc4faf706?s=16&r=pg")
								| &nbsp; {{currentUser.fullname}} &nbsp;
								span.caret
							ul.dropdown-menu(role="menu")
								li(t-locked-asset="/logout")
									a.navbar-link(ui-sref="management.authenticated.settings.home")
										i.icon-user
										| &nbsp; My Account
								li(t-locked-asset="/logout")
									a.navbar-link.logout(ng-click="logout()") 
										i.icon-exit
										| &nbsp; Logout
			.clearfix
			hr.ut-width-100.application-menu-divider
			.col-xs-12
				.body-wrapper
					.container-fluid(ui-view='body')