doctype html
form.form.toasty-form(name='addBlock', role="form")
	div.form-actions.pull-right
		div.btn-group.pull-right
			a.btn.btn-primary(ng-click="save()")
				span.glyphicon.glyphicon-save
				| &nbsp; Save
			a.btn.btn-danger(ng-click="delete()", ng-if="model._id")
				span.glyphicon.glyphicon-trash
				| &nbsp; Delete
			a.btn.btn-warning(ng-click="cancel()")
				span.glyphicon.glyphicon-save
				| &nbsp; Cancel
		.clearfix
	tabset
		tab(heading="Block")
			.form-group
				label(for='block-name') Name
				input.form-control(type="text", placeholder="Enter name", ng-model="model.name")
			.form-group
				label(for='block-text') Content
				textarea.form-control(ui-codemirror, ui-codemirror-opts="editorOptions", placeholder="Block Content", ng-model="model.text", rows="10")