doctype html
form.form.toasty-form(name='addBlock', role="form")
	div.form-actions.pull-right
		div.btn-group.pull-right
			a.btn.btn-primary(ng-click="save()")
				span.glyphicon.glyphicon-save
				| &nbsp; Save
			a.btn.btn-danger(ng-click="delete()", ng-if="model._id")
				span.glyphicon.glyphicon-trash
				| &nbsp; Delete
			a.btn.btn-warning(ng-click="cancel()")
				span.glyphicon.glyphicon-save
				| &nbsp; Cancel
		.clearfix
	tabset
		tab(heading="File")
			.row
				.form-group.col-md-6
					label(for='file-name') Name
					input.form-control(type="text", placeholder="Enter name", ng-model="model.name")
				.form-group.col-md-6
					label(for='file-name') Alias
					input.form-control(type="text", placeholder="Enter alias", ng-model="model.alias", ng-keypress="aliasManuallyChanged()")
				.form-group.col-md-6
					label(for='file-name') Parent
					a.btn.btn-xs.btn-link(ng-click="removeDirectory()", ng-show="parent._id")
						span.glyphicon.glyphicon-remove(style="color: red")
					div.directory
						a.btn.btn-xs.btn-link(ng-click="selectDirectory()") 
							| {{ parent.name }}
				.form-group.col-md-6
					label Upload File
					toasty-file-upload(on-uploader-ready="onUploaderReady(uploaderOptions)", data-model="model")
			.row(ng-if="model._id")
				.col-md-6(ng-if="model.type.match('image').length")
					label File Preview
					div.file-preview
						img.thumbnail(ng-src="/api/fs/files/{{model._id}}/download")
				.col-md-6.ut-padding-0
					.col-md-12
						label Live Link
						div.file-link
							a(target="_blank", href="/api/fs/files/{{model._id}}/download") 
								| /api/fs/files/{{model._id}}/download
					.col-md-12
						label URL Path
						div.file-link
							a(target="_blank", href="/api/fs/files/{{model._id}}/download") 
								| /api/fs/files/{{model._id}}/download
						
