doctype html
.row
	.content-area-wrapper.col-xs-12.ut-padding-0
		.col-md-4.content-area-tools
			.main-actions-area.col-xs-12
				div.btn-group
					a.btn.btn-sm.btn-default(type="button", ng-click="refreshTree()")
						span.glyphicon.glyphicon-refresh
					a.btn.btn-sm.btn-default(type="button", ui-sref="management.authenticated.files.add")
						span.glyphicon.glyphicon-plus
						| &nbsp;Add File
					a.btn.btn-sm.btn-default(type="button", ui-sref="management.authenticated.directories.add")
						span.glyphicon.glyphicon-plus
						| &nbsp;Add Directory
			.clearfix
			hr.ut-width-100.content-area-tools-menu-divider
			.content-menu.col-xs-12
				toasty-tree-explorer(data-t-api="fs/directories", data-t-select="openNode(node)")
			hr.ut-width-100.content-area-tools-menu-divider

		.col-md-8.content-area
			div.ui-files-body(ui-view="ui-files-body")