doctype html
.col-xs-12
	.row.main-actions-area
		.col-xs-6
			.btn-toolbar
				div.btn-group
					a.btn.btn-default(type="button", ng-click="refreshTree()")
						span.glyphicon.glyphicon-refresh
				div.btn-group
					a.btn.btn-default(type="button", ui-sref="management.authenticated.files.add")
						span.glyphicon.glyphicon-plus
						| &nbsp;Add File
					a.btn.btn-default(type="button", ui-sref="management.authenticated.directories.add")
						span.glyphicon.glyphicon-plus
						| &nbsp;Add Directory

	.row
		.content-area-wrapper
			.col-xs-3.content-menu
				toasty-tree-explorer(data-t-api="fs/directories", data-t-select="openNode(node)")
			.col-xs-9.content-area
				div.ui-files-body(ui-view="ui-files-body")