.sidebar-left.container-fluid.dashboard-menu
	.dashboard-menu-title
		a(ui-sref="management.dashboard.home")
			img.management-logo(src="images/logo-xs.png")
	hr.dashboard-menu-separator
	ul.items
		li
			a(ng-click="item1Visible = !item1Visible")
				i.icon-webpage
				| &nbsp; Content Management &nbsp;
				//- i.caret(ng-show="!item1Visible", ng-click="item1Visible = !item1Visible")
				//- i.caret(ng-show="item1Visible", ng-click="item1Visible = !item1Visible")
			ul(collapse="!item1Visible")
				li
					a
						i.icon-document
						| &nbsp; Content
				li
					a 
						i.icon-squaret
						| &nbsp; Types
				li
					a 
						i.icon-html
						| &nbsp; Templates
		li
			a 
				i.icon-legacyfilemanager
				| &nbsp; File Management
		li
			hr.dashboard-menu-separator
		li
			a 
				i.icon-controlpanel
				| &nbsp;Control Panel