doctype html
.row
	.content-area-wrapper.col-xs-12.ut-padding-0
		.col-md-4.content-area-tools
			.main-actions-area.col-xs-12
				div.btn-group
					a.btn.btn-sm.btn-default(type="button", ng-click="refreshTree()")
						span.glyphicon.glyphicon-refresh
					a.btn.btn-sm.btn-default(type="button", ui-sref="management.authenticated.content-templates.add")
						span.glyphicon.glyphicon-plus
						| &nbsp;Add Template
			.clearfix
			hr.ut-width-100.content-area-tools-menu-divider
			.content-menu.col-xs-12
				toasty-tree-explorer(data-t-api="templates", data-t-select="openNode(node)")
				
		.col-md-8.content-area
			div.ui-content-templates-body(ui-view="ui-content-templates-body")