doctype html
.content-area-item
	div.form-actions
		div.btn-group
			a.btn.btn-sm.btn-primary(ng-click="save()")
				span.glyphicon.glyphicon-save
				| &nbsp; Save
			a.btn.btn-sm.btn-danger(ng-click="delete()", ng-if="model._id")
				span.glyphicon.glyphicon-trash
				| &nbsp; Delete
			a.btn.btn-sm.btn-warning(ng-click="cancel()")
				span.glyphicon.glyphicon-save
				| &nbsp; Cancel
		.clearfix
hr.ut-width-100.content-area-tools-menu-divider
.content-area-item
	form.form.toasty-form-wrapper(name='addScript', role="form")
		tabset.toasty-form
			tab(heading="Script")
				.row
					.form-group.col-md-6
						label(for='script-name') Name
						input.form-control(type="text", placeholder="Enter name", ng-model="model.name")
				.row
					.form-group.col-md-12
						label(for='script-text') Content
						textarea.form-control(ui-codemirror, ui-codemirror-opts="editorOptions", placeholder="Script Content", ng-model="model.text", rows="10")