doctype html
.col-xs-12
	.row.main-actions-area
		.col-xs-6
			div.btn-toolbar
				a.btn.btn-default(type="button", ng-click="refreshTree()")
					span.glyphicon.glyphicon-refresh
				a.btn.btn-default(type="button", ui-sref="management.authenticated.scripts.add")
					span.glyphicon.glyphicon-plus
					| &nbsp;Add Script
	.row
		.content-area-wrapper
			.col-xs-3.content-menu
				toasty-tree-explorer(data-t-api="scripts",data-t-opts="treeExplorerOpts", data-t-select="openNode(node)")
			.col-xs-9.content-area
				div.ui-scripts-body(ui-view="ui-scripts-body")