form(name="{{formName}}", action="{{api}}", method="{{method}}")
	input(type="hidden", name="directory", ng-model="file.directory", ng-value="{{file.directory}}")
	input.form-control(type="file", name="file")
